<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mybatis.mapper">
    
    <insert id="insertMybatis" parameterType="com.spring.mybatis.vo.mybatisVO" >
    	INSERT INTO TEST (ID, PWD) VALUES (#{id}, #{pwd})
    </insert>
    <update id="updateMybatis" parameterType="com.spring.mybatis.vo.mybatisVO" >
    	UPDATE TEST SET PWD = #{pwd} WHERE ID = #{id}  
    </update>
	<delete id="deleteMybatis" parameterType="com.spring.mybatis.vo.mybatisVO" >
		DELETE TEST WHERE ID = #{id}
	</delete>    
    <select id="selectMybatis" parameterType="com.spring.mybatis.vo.mybatisVO" resultType="com.spring.mybatis.vo.mybatisVO">
        SELECT * FROM TEST WHERE ID = #{id}
    </select>
    <select id="selectListMybatis" resultType="com.spring.mybatis.vo.mybatisVO">
        SELECT * FROM TEST
    </select>
</mapper>




